:root{
  --main-bg-color:darkcyan;
}

h1, h2, h3{
  font-family:'fraunces', sans-serif;
}

.nav{
  justify-content:center;
  align-items: center;
  margin-top:43px;
}

.row{
  display:flex;
  flex-direction: row;
  align-items: center;
  /* align-items:baseline; in cazul in care vrem sa fie la aceeasi baza liniara, dar in proiect nu e. */
}

.content-container{
  max-width:1280px;
}

.nav-bar-wrapper{
  width:100%;
  justify-content:space-between;
}

.logo{
  height:40px;
 }

#app-logo{
  margin-right:8px;
}

#app-title{
  color:#333D4B;
  /* font-family:'fraunces', sans-serif; */
  line-height:36px;
  font-size:2em;
  font-weight:bold;
}

.row-centered{
  align-items: center;
}

.nav-links-container > a{
  font-weight:bold;
  font-size: 1em;
  color:#83888F;
  line-height: 28px;
  text-decoration: none;
  margin-left:32px;
}

.nav-links-container > a:hover{
  color:black;
}

.hero-image{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(all-images/heroimage.jpg); */
  background-image: url(all-images/heroimage.jpg);
  background-color:#979797;
  filter:brightness(90%);
  height:600px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
} 

.hero-title{
  font-size:72px;
  line-height:72px;
  font-weight:bold;
}

.hero-text{
  /* text-align: left; */
  position:absolute;
  top:45%;
  left:27%;
  transform: translate(-50%, -50%);
  color:white;
  width:40%;
  line-height:20px;
}

.primary-button{
  border:none;
  outline:0;
  background-color:#0E8784;
  /* position:absolute; */
  width: 217px;
  height: 56px;
  color:white;
  cursor:pointer;
  text-align:center;
  border-radius:5px;
  padding:0 25px;
  line-height:25px;
  font-size:1em;
  font-weight: bold;
  margin-top:50px;
}

.primary-button:hover{
  background-color:#66D2CF;
}

.hero-image-second{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(all-images/heroimagesecond2.png);
  filter:brightness(80%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:450px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

.hero-title-second{
  font-size:40px;
  line-height:48px;
  font-weight:bold;
}

.hero-image-new{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.4)rgba(0, 0, 0, 0.4)), url(all-images/heroimagenew.jpg); */
  background-image: url(all-images/heroimagenew.jpg);
  background-color:#A2A2A2;
  height:450px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  filter:brightness(80%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.section-1 {
  width: 1111px;
  height: 524px;
  background-image: url(./all-images/our-collection.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin:0 auto;  
}

.expresso {
  width: 256px;
  height: 193px;
  margin-left:30px;
}

.section-1-container > h3 {
  font-family: 'Fraunces 9pt', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-top: 71px;
}

.section-1-container > p {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  margin-top: 24px;
  padding:10px 10px;
}

.section-1-container {
  margin-top: 126px;
}

.section-2 {
  width: 1280px;
  height: 728px;
  margin: 0 auto;
}

.section-2-container {
  flex-direction: column;
  background-color: #2C343E;
  width: 1280px;
  height: 577px;
  margin: 0 80px;
  border-radius: 6px;
}

.section-2-container > h2 {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 100px;
  margin-bottom: 0px;
}

.section-2-container > p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 50%;
  margin-top: 32px;
  margin-bottom: 0px;
}

.three-box {
  width: 1110px;
  height: 382px;
}

.box {
  width: 350px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
  width: 50%;
}

.box-wrapper {
  gap: 30px;
  margin-top: 86px;
  margin-right: 85px;
  margin-left: 85px;
}

.box .icon {
  margin-top: 72px;
}

.box h3 {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 56px;
  margin-bottom: 24px;
}

.box p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 0px;
  margin-bottom: 48px;
  margin-left: 47px;
  margin-right: 47px;
}

.icon {
  width: 72px;
  height: 72px;
}

/* sectiunea mea : Alex Oniga */
.commitment-container{
  width: 1110px;
  height: 520px;
  margin: 0 auto;
  margin-top: 190px;
  display: flex;
}

.container-left, .container-right{
  width: 50%;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
}

.container-picture{
  width: 445px;
  height: 520px;
  margin-right: 125px;

}

.commitment-subtitle{
  height:48px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-top: auto;
}

.commitment-text{
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}
/*section 3 about*/
.section-2-about {
  width: 1280px;
  height: 562px;
  margin: 0 auto;
  margin-top: 168px;
  margin-bottom: 168px;
}

.section-2-about-container {
  background-color: #2C343E;
  width: 1280px;
  height: 474px;
  border-radius: 6px;
  margin-top: 150px;
}

.title-about {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  width: 50%;
  margin-top: 88px;
  margin-left: 85px;
  margin-bottom: 32px;
}

.subtitle-about {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 40%;
  margin-left: 85px;
  margin-bottom: 176px;
  margin-top: 0px;
}

.bg-about-us {
  position: absolute;
}

.bg-about {
  position: relative;
  width: 445px;
  height: 474px;
  border-radius: 8px;
  margin: 88px 85px 88px 750px;
}

.information-list{
  width: 1045px;
  display: flex;
}
.subtitle{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-left: 165px;
}

.contact-info{
  display: flex;
  margin-left: 130px;
  gap: 95px;
  list-style: none;
     
}

.country-name{
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.adress{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #333D4B;

}



