:root{
  --main-bg-color:darkcyan;
  --circle-size:1.7em;
  --line-height:2px;
}

h1, h2, h3{
  font-family:'fraunces', sans-serif;
}

.nav{
  justify-content:center;
  align-items: center;
  margin-top:43px;
}

.row{
  display:flex;
  flex-direction: row;
  align-items: center;
  /* align-items:baseline; in cazul in care vrem sa fie la aceeasi baza liniara, dar in proiect nu e. */
}

.content-container{
  max-width:1280px;
  margin:0 auto;
}

.nav-bar-wrapper{
  width:100%;
  justify-content:space-between;
}

.logo{
  height:40px;
 }

#app-logo{
  margin-right:8px;
}

#app-title{
  color:#333D4B;
  /* font-family:'fraunces', sans-serif; */
  line-height:36px;
  font-size:2em;
  font-weight:bold;
}

.row-centered{
  align-items: center;
}

.nav-links-container > a{
  font-weight:bold;
  font-size: 1em;
  color:#83888F;
  line-height: 28px;
  text-decoration: none;
  margin-left:32px;
}

.nav-links-container > a:hover{
  color:black;
}

.hero-image{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(all-images/heroimage.jpg); */
  background-image: url(all-images/heroimage.jpg);
  background-color:#979797;
  filter:brightness(90%);
  height:600px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
} 

.hero-title{
  font-size:72px;
  line-height:72px;
  font-weight:bold;
}

.hero-text{
  /* text-align: left; */
  position:absolute;
  top:45%;
  left:27%;
  transform: translate(-50%, -50%);
  color:white;
  width:40%;
  line-height:20px;
}

.primary-button{
  border:none;
  outline:0;
  background-color:#0E8784;
  /* position:absolute; */
  width: 217px;
  height: 56px;
  color:white;
  cursor:pointer;
  text-align:center;
  border-radius:5px;
  padding:0 25px;
  line-height:25px;
  font-size:1em;
  font-weight: bold;
  margin-top:50px;
}

.primary-button:hover{
  background-color:#66D2CF;
}

.hero-image-second{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(all-images/heroimagesecond2.png);
  filter:brightness(80%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:450px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}

.hero-title-second{
  font-size:40px;
  line-height:48px;
  font-weight:bold;
}

.hero-image-new{
  /* background-image:linear-gradient(rgba(0, 0, 0, 0.4)rgba(0, 0, 0, 0.4)), url(all-images/heroimagenew.jpg); */
  background-image: url(all-images/heroimagenew.jpg);
  background-color:#A2A2A2;
  height:450px;
  width:1280px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  filter:brightness(80%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.section-1 {
  width: 1111px;
  height: 524px;
  background-image: url(./all-images/our-collection.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin:0 auto;  
}

.expresso {
  width: 256px;
  height: 193px;
  margin-left:30px;
}

.section-1-container > h3 {
  font-family: 'Fraunces 9pt', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-top: 71px;
}

.section-1-container > p {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
  margin-top: 24px;
  padding:15px 15px;
}

.section-1-container {
  margin-top: 126px;
}

.section-2 {
  width: 1280px;
  height: 728px;
  margin: 0 auto;
}

.section-2-container {
  flex-direction: column;
  background-color: #2C343E;
  width: 1280px;
  height: 577px;
  margin: 0 80px;
  border-radius: 6px;
}

.section-2-container > h2 {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 100px;
  margin-bottom: 0px;
}

.section-2-container > p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 50%;
  margin-top: 32px;
  margin-bottom: 0px;
}

.three-box {
  width: 1110px;
  height: 382px;
}

.box {
  width: 350px;
  height: 382px;
  background: #0E8784;
  border-radius: 8px;
  text-align: center;
  width: 50%;
}

.box-wrapper {
  gap: 30px;
  margin-top: 86px;
  margin-right: 85px;
  margin-left: 85px;
}

.box .icon {
  margin-top: 72px;
}

.box h3 {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 56px;
  margin-bottom: 24px;
}

.box p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin-top: 0px;
  margin-bottom: 48px;
  margin-left: 47px;
  margin-right: 47px;
}

.icon {
  width: 72px;
  height: 72px;
}

/* sectiunea mea : Alex Oniga */
.commitment-container{
  width: 1110px;
  height: 520px;
  margin: 0 auto;
  margin-top: 190px;
  display: flex;
}

.container-left, .container-right{
  width: 50%;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
}

.container-picture{
  width: 445px;
  height: 520px;
  margin-right: 125px;

}

.commitment-subtitle{
  height:48px;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-top: auto;
}

.commitment-text{
  font-family: 'Barlow';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}
/*section 3 about*/
.section-2-about {
  width: 1280px;
  height: 562px;
  margin: 0 auto;
  margin-top: 168px;
  margin-bottom: 168px;
}

.section-2-about-container {
  background-color: #2C343E;
  width: 1280px;
  height: 474px;
  border-radius: 6px;
  margin-top: 150px;
}

.title-about {
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  width: 50%;
  margin-top: 88px;
  margin-left: 85px;
  margin-bottom: 32px;
}

.subtitle-about {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 40%;
  margin-left: 85px;
  margin-bottom: 176px;
  margin-top: 0px;
}

.bg-about-us {
  position: absolute;
}

.bg-about {
  position: relative;
  width: 445px;
  height: 474px;
  border-radius: 8px;
  margin: 88px 85px 88px 750px;
}

/* sectiunea headquarters - Oniga Alex */
.information-list{
  width: 1045px;
  display: flex;
}
.subtitle{
  font-family: Fraunces;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-left: 165px;
}

.contact-info{
  display: flex;
  margin-left: 130px;
  gap:190px;
  list-style: none;
     
}

.country-name{
  font-family: Fraunces;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}

.adress{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #333D4B;

}

/* ionut:sectiunea 4 */

  .article {
    max-width: 1046px;
    color: #333D4B;
    font-family: 'barlow';
    font-style: regular;
    font-size: 16px;
    margin:0 auto;
  }

  .article2{
     margin-top: 42px;
     line-height:26px;
  }
  
  .linie {
    max-width: 320px;
  }
  
  #titluHowItWorks {
    color: #83888F;
    font-size: 24px;
    margin-bottom: 80px;
    margin-top:200px;
    font-weight: bold;
  }
  
  .cercurile {
    display: flex;
    align-items: center;
   }
  
  
  
  .columns {
    display: flex;
    margin-left:-10px;
  }
  
  .column {
    margin-top: 38px;
    flex: 33.33%;
    text-align:left;
    padding-right:100px;
  }
  
  .numbers {
    color: #FDD6BA;
    font-size: 72px;
    text-align: left;
  }
  
  .plantitle {
    color: #333D4B;
    font-style:bold;
    font-size: 32px;
    line-height: 36px;
    margin-top: 38px;
    font-weight:900;
    font-family: 'fraunces';
  }
  
 .second-button{
    margin-bottom:100px;
    /* margin-left: 135px; */
    margin-left:-10px;
  }

  /* sectiunea how it works din subscribe */
.page-container{
  max-width:1280px;
  background-color:#2C343E;
  margin: 0 auto;
  border-radius:10px;
}

.container{
  width:1048px;
  display: flex; 
  gap: 8px;
  position: relative;
  margin:10%;
  top:50px;
  height:653px;
}

.container:before,
.container:after {
  content: '';
  position: absolute;
  top: calc(var(--circle-size) / 2 - var(--line-height) / 2);
  display: block;
  height: var(--line-height);
  background-color: #FDD6BA; 
}

.container:before {
  left: calc(var(--circle-size) / 2);
  right: 0;
  width: calc(100% / 3 * 2 + var(--circle-size) / 2 - 8px);
}

.container:after {
  right: 100%;
}

.container .item {
  flex: 1;
  position: relative;
  padding-top: calc( 2 * var(--circle-size));
}

.container .item:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  border: 2px solid #0E8784;
}

.title{
  color:#FEFCF7;
  font-style:bold;
  font-size: 32px;
  line-height: 36px;
  margin-top: 38px;
  font-weight:900;
  font-family: 'fraunces';
  margin-right:35%;
}

.content{
  margin-top: 42px;
   line-height:26px;
   color:#FEFCF7;
   margin-right:35%;
}

/* sectiunea de produse din subscribe-olivia///other version*/

.list-preferences{
  list-style-type: none;
  font-family:'fraunces';
  line-height:35px;
  width:255px;
  font-weight:900;
  font-size:1.5em;
  cursor: pointer;
}

.aline-boxone{
  display:flex;
  gap:60px;
  flex-direction:row;
  height:300px;
  align-items:flex-start;
}

.checking{
  display:flex;
  text-align:left;
  align-items:baseline;
  margin:150px auto;
}

.list-preferences  span + span{
  margin-left:25px;
}

.preffboxes{
  margin-left: 125px;
  text-align:left;
}

.summ {
  font-family:'fraunces';
  font-weight:900;
  font-size:2em;
  margin-bottom:20px;
  line-height:30px;
  margin-top:20px;
  color:#83888F;
  cursor:pointer;
  list-style: none;
}

#green-number{
  color:#0E8784;
}

#grey-number{
  color:#A2A2A2;
}

#trigger:active{
  color:#333D4B;
}

#trigger2:active{
  color:#333D4B;
}

#trigger3:active{
  color:#333D4B;
}

#trigger4:active{
  color:#333D4B;
}

#trigger5:active{
  color:#333D4B;
}

#trigger:local-link{
  color:#A2A2A2;
}  

a:link{
  color:#A2A2A2;
  text-decoration: none;
}

a:visited{
  color:#333D4B;
}

a:hover{
  color:#83888F;
}  

a:active{
  color:#333D4B;
}  

.bigboxone{
  width:800px;
  height:208px;
  background-color:black;
  color:white;
  justify-content:center;
  flex-direction:column;
  margin-top:40px;
  text-align:left;
}

.new-button{
  display:flex;
  align-self:flex-end;
  position:relative;
  right:275px;
  top:60px;
}

.bigboxone >p{
  font-family:'fraunces';
  font-weight: 900;
  font-size: 1.5em;
  line-height: 40px;
  margin:8px 64px 27px 64px;
}

.bigboxone h3{
  margin-top:27px;
  margin-left:64px;
  font-family:'Barlow';
  font-weight: 400;
  font-size: 1em;
  line-height: 26px;
  text-transform: uppercase;
  opacity:50%;
}

label{
  margin-left:-32px;
  width:228px;
  height:250px;
  color:#2C343E;
  background-color:#F4F1EB;
  border-radius:5px;
  cursor: pointer;
}

label:hover{
  background-color:#FDD6BA;
}

input{
  appearance: none;
  margin-left:-30px;
  opacity:0;
}

.quest-container .quest {
  cursor: pointer;
  position: relative;
}

.quest-container{
  width:900px;
  display: inline;
}

.quest:after{
  content: "";
  position:absolute;
  right:0;
  top:50%;
  transform: translateY(-50%) rotate(0);
  background-image: url("./all-images/arrow.png");
  background-repeat:no-repeat;
  background-size: contain;
  display:block;
  width:20px;
  height:10px;
  margin-right:90px;
  transform: 0.3s ;
}

.quest-container[open] .quest:after{
  transform: translateY(-50%) rotate(-180deg);
}
 
input:checked + label {
  color:white;
  background-color:var(--main-bg-color);
}

.label-title {
  color:#333D4B;
  text-align:left;
  padding:32px 0 0px 28px;
  font-family:'fraunces';
  font-weight:900;
  font-size:1.5em;
  line-height:32px;
}

.label-description {
  text-align:left;
  color:#333D4B;
  padding:0 28px 0 28px;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 26px; 
}
  
.quest-container input[type="radio"]:checked + label .label-title{
  color: #ffffff;
}

.quest-container input[type="radio"]:checked + label .label-description {
  color: #fefcf7;
}

/* footer-ul proiectului */

.footerul{
  max-width: 1280px;
  height:auto;
  background-color: #2C343E;
  margin:0 auto;
  color:white;
  padding-top:40px;
  padding-bottom:40px;
  margin-top:100px;
}

.iconss{
  margin-right:50px;
  display: flex;
  gap:20px;
}

.iconss:hover{
  color:#fdd6ba;
}

#alignment{
margin-right:150px;
}

#on-white{
  color:#83888F;
}

#on-white:hover{
  color:white;
}

#on-white-on{
  color:#333D4B;
  line-height:36px;
  font-size:2em;
  font-weight:bold;
  color:#ffffff; 
}

#app-logo-foot{
  margin-right:8px;
  margin-left:80px;
}

.iconss a{
  color:white;
  width:40px;
  height:40px;
  border-radius: 50%;
  background-color: #0E8784;
  transition:0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.iconss .fa{
 font-size:25px;
 line-height: 40px;
 transition:0.6s;
 color:white;
 text-align: center;
}

.fa-facebook{
  color:white; 
  text-align: center;
}

.fa-twitter{
  color:white; 
  text-align: center;
}

.fa-instagram{
  color:white; 
  text-align: center;
}

.iconss a:hover{
  transform:translate(0, -10px);
}

.iconss .fa:hover{
 color:#fdd6ba;
}


